.nav{
	background-color: #f1f3f5;
	text-align: center;
	border-bottom: 3px solid #00a1a6;
	height: 50px;
	line-height: 100%;
}

.nav ul{
	display: inline-block;
	list-style: none;
	height: 100%;
}

.nav ul li{
	float: left;
	height: 100%;
	position: relative;
}

.nav ul li:hover{
	color: #00a1a6;
	text-decoration: underline;
}

.nav ul li a{
	float: left;
	display: block;
/*	padding: 10px;
*/	
	padding-right: 60px;
	background-color: #f1f3f5;
	color: #555;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}

.nav ul li a:hover{
	color: #00a1a6;
	text-decoration: underline;
}

