<%- include('partials/header') %>


    <a href = '/employees/new' class="btn btn-success mt-5">Add new Employee</a>
    <table class="table table-striped mt-3">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ivana</td>
            <td>Siljanoska</td>
            <td>ivana.siljanoska@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Maja</td>
            <td>Jancevska</td>
            <td>jancevska@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Kalina</td>
            <td>Siljanoska</td>
            <td>siljanoska@gmail.com</td>
          </tr>
        </tbody>
      </table>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <%- include('partials/footer') %>